[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
drf-spectacular = "*"
pillow = "*"
django-storages = "*"
google-cloud-storage = "*"
django-mdeditor = {ref = "feature/csrf-token-manipulation", git = "https://github.com/Taiki0807/django-mdeditor.git"}

[dev-packages]

[requires]
python_version = "3.11"
